@charset "utf-8";
@import url(./reset.css);

#app{font-size: 16px; line-height: 160%; padding: 100px 0; text-align: center;}
#app h1,h2{padding: 0 0 50px 0;}
#app button{width: 100px; height: 45px; background: #444; color: #fff; cursor: pointer; border: 0; margin: 0 5px; border-radius: 3px; transition: .3s;}
#app button:hover{background: rgb(248, 176, 82); }
